# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
*.venv
Pipfile.lock

# Logs and debug files
logs/
*.log
nohup.out

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/
*.iml

# Database dumps
*.sqlite3
dump.rdb

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# FastAPI specific
instance/
